# Begin Whenever generated tasks for: /Users/mat/Dropbox/warfield/infakt_workshop/atelier/config/schedule.rb
0 8 * * * /bin/bash -l -c 'cd /Users/mat/Dropbox/warfield/infakt_workshop/atelier && RAILS_ENV=development bundle exec rake books_notifier:reservations_handler --silent'

# End Whenever generated tasks for: /Users/mat/Dropbox/warfield/infakt_workshop/atelier/config/schedule.rb
