<h2>Hej <%= @borrower.email %></h2>
<p>
  <%= @reservation.expires_at %> upływa termin oddania książki pt. <%= @book.title %>. Prosimy - zwróć książkę w terminie!<br>
  <%= link_to "Przejdź do książki", book_url(@book.id, host: "localhost:3000") %>
</p>
