<h1>New book</h1>
<%= form_tag books_path, method: :post do %>
  <div>
    <%= text_field_tag 'title', '', placeholder: 'title', autofocus: true %>
  </div>

  <div>
    <%= text_field_tag 'isbn', '', placeholder: 'isbn' %>
  </div>

  <%= button_tag type: 'submit' do %>
    save
  <% end %>
<% end %>
