<h1>Book</h1>
<h3><%= @book.title %></h3>
<p><%= @book.isbn %></p>
<%= render partial: 'books/elements/reservations', locals: {reservations: @book.reservations} %>
<%= render partial: 'books/elements/action', locals: {book: @book} %>
