<h1>New item</h1>
<%= form_tag items_path, method: :post do %>
  <div>
    <%= text_field_tag 'name', '', placeholder: 'name', autofocus: true %>
  </div>

  <div>
    <%= text_area_tag 'description', '', placeholder: 'description' %>
  </div>

  <%= button_tag type: 'submit', class: 'btn btn-md btn-success' do %>
    save
  <% end %>
<% end %>
